[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "~=4.3"
invoke = "~=1.2"
flake8-bugbear = "~=18.8"
bump2version = "~=0.5"
pyinstaller = "~=3.6"

[packages]
keepitfresh = "~=1.0"
pyqt5 = "~=5.13"
pyfomod = "~=1.2"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
