[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
invoke = "*"
flake8-bugbear = "*"

[packages]
keepitfresh = "*"
pyqt5 = "*"
pyfomod = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
